<script>
    const test = '<%= JSON.stringify(result) %>'; // test is now a valid js object
    console.log(test);
</script>
<script>

</script>

<form>
    <div style="display: flex;">
        <div>
            <label for="home">Koti:</label><br>
            <select id="selest">
                <option value="" disabled selected>Valitse...</option>
                <% players?.forEach(function(c) { %>
                    <option value='<%= c.id %>'><%= c.name %></option>
                <% }) %>
            </select>
            <br><br>
            <label for="homeWins">Erävoitot, koti (0-2):</label><br>
            <input type="number" id="homeWins" name="homeWins" min="0" max="2"><br><br>
        </div>
        <div style="margin-left: 20px;">
            <label for="away">Vieras:</label><br>
            <select id="selest">
                <option value="" disabled selected>Valitse...</option>
                <% players?.forEach(function(c) { %>
                    <option value='<%= c.id %>'><%= c.name %></option>
                <% }) %>
            </select>
            <br><br>
            <label for="awayWins">Erävoitot, vieras (0-2):</label><br>
            <input type="number" id="awayWins" name="awayWins" min="0" max="2"><br><br>
        </div>
    </div>

    <label for="details">Lisätiedot (max 255 merkkiä):</label><br>
    <input type="text" id="details" name="details"><br><br>

    <label for="withdraw">Luovutus</label>
    <input type="checkbox" id="withdraw" name="withdraw">
    <br><br>

    <label for="open">Turnaus:</label><br>
    <select id="selest" name="open">
        <option value="" disabled selected>Valitse...</option>
        <%  let years = [2022, 2023, 2024, 2025, 2026];
        years.forEach(function(year) { %>
            <optgroup label="<%= year %>">
                <% opens?.forEach(function(open) { %>
                    <% if (open.year === year) { %>
                        <option value='<%= open.id %>'>
                            <%= open.name %> <%= open.year %>
                        </option>
                    <% } %>
                <% }) %>
            </optgroup>
        <% }) %>
    </select><br><br>

    <input type="submit" value="Lähetä">
</form>