<form method="post" action="/admin/result">
    <div class="container">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <label for="home">Koti:</label>
                        <%- include('../../partials/playerSelector.ejs',  {match: result, players: players, name: 'home'}) %>
                        <label for="homeWins">Erävoitot, koti (0-2):</label>
                        <input  class="form-control" type="number" id="homeWins" name="homeWins" min="0" max="2" value="<%- result?.wins1 %>">
                    </div>
                    <div class="col-md-6">
                        <label for="away">Vieras:</label>
                        <%- include('../../partials/playerSelector.ejs',  {match: result, players: players, name: 'away'}) %>
                        <label for="awayWins">Erävoitot, vieras (0-2):</label>
                        <input class="form-control" type="number" id="awayWins" name="awayWins" min="0" max="2" value="<%- result?.wins2 %>">
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="date">Päivämäärä:</label>
                            <input class="form-control" type="date" id="date" name="date" value="<%- result?.date?.substring(0,10) %>">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label for="result">Lisätiedot (max 255 merkkiä):</label>
                            <input class="form-control" type="text" id="result" name="result" value="<%- result?.result %>">
                        </div>
                        <div class="form-group">
                            <label for="withdraw">Luovutus</label>
                            <input class="form-check" type="checkbox" id="withdraw" name="withdraw" <%- result?.withdraw ? 'checked' : '' %>>
                        </div>
                        <div class="form-group">
                            <label for="open">Turnaus:</label>
                            <select id="open" name="openId" class="form-control">
                                <option value="" disabled selected>Valitse...</option>
                                <%  let years = [2022, 2023, 2024, 2025, 2026];
                                years.forEach(function(year) { %>
                                    <optgroup label="<%= year %>">
                                        <% opens?.forEach(function(open) { %>
                                            <% if (open.year === year) { %>
                                                <option value='<%= open.id %>' <%= open.id === result?.openId ? 'selected' : '' %>>
                                                    <%= open.name %> <%= open.year %>
                                                </option>
                                            <% } %>
                                        <% }) %>
                                    </optgroup>
                                <% }) %>
                            </select>
                        </div>

                        <input type="hidden" name="factor" id="factor" value="<%= result?.factor ? result.factor : 1 %>"/>
                        <input type="hidden" name="id" id="id" value="<%= result?.id %>"/>
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <br />
                        <button type="submit" class="btn btn-success btn-lg btn-block">Tallenna</button>
                        <button type="button" class="btn btn-danger btn-lg btn-block" onclick="history.back()">Peruuta</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
