<% winner =  match.wins1 > match.wins2 ? 'winner-top' : 'winner-bottom'%>
<div class="match <%= winner %>">
    <div class="match-top team">
        <span class="image"></span>
        <span class="name"><%= match.player1 %></span>
        <span class="score"><%= match.wins1 %></span>
    </div>
    <div class="match-bottom team">
        <span class="image"></span>
        <span class="name"><%= match.player2 %></span>
        <span class="score"><%= match.wins2 %></span>
    </div>
    <div class="match-lines">
        <div class="line one"></div>
        <div class="line two"></div>
    </div>
    <div class="match-lines alt">
        <div class="line one"></div>
    </div>
</div>