<% winner =  match.homeWins > match.awayWins ? 'winner-top' : 'winner-bottom'%>
<div class="match <%= winner %>">
    <div class="match-top team">
        <span class="image"></span>
        <span class="name"><%= match.home %></span>
        <span class="score"><%= match.homeWins %></span>
    </div>
    <div class="match-bottom team">
        <span class="image"></span>
        <span class="name"><%= match.away %></span>
        <span class="score"><%= match.awayWins %></span>
    </div>
    <div class="match-lines">
        <div class="line one"></div>
        <div class="line two"></div>
    </div>
    <div class="match-lines alt">
        <div class="line one"></div>
    </div>
</div>