<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar sticky-top navbar-collapse">
                <ul class="list-group" style="list-style: none;">
                    <% content?.forEach(function(c, index) { %>
                        <li><button type="button" class="btn btn-outline-warning btn-sm tablinks" style="width: 22em" onclick="openCity(event, <%= index %>)"><%= c.title  %></button> </li>
                    <% }) %>
                </ul>
            </nav>
        </div>
        <div class="col">
            <% content?.forEach(function(c, index) { %>
                <div id="<%= index %>" style="color: #F5D061; margin-bottom: 2em; display: none" class="tabcontent">
                    <h2 style="color: #F5D061;"><%= c.title %></h2>
                    <span><%- c.text %></span>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
</script>