<div class="container">
    <div class="row">
        <div class="col">
            <nav class="navbar sticky-top navbar-collapse">
                <ul class="list-group">
                    <% content?.forEach(function(c, index) { %>
                        <li 
                            class="list-group-item" 
                            style="cursor: pointer" 
                            onclick="openTab(event, '<%= index %>')">
                                <%= c.title  %>
                        </li>
                    <% }) %>
                </ul>
            </nav>
        </div>
        <div class="col">
            <div class="card" style="min-height: 30em;">
                <div class="card-body overflow-auto">
                    <% content?.forEach(function(c, index) { %>
                        <div id="<%= index %>" style="display: none" class="tabcontent">
                            <h2><%= c.title %></h2>
                            <span><%- c.text %></span>
                        </div>
                    <% }) %>
                </div>
            </div>
        </div>
    </div>
</div>