<div id="Tournament">
    <%if (opens != null) { %>
    <form action="/admin/opens" method="post">
        <select id="selest" name="open" onchange="myFunction()">
            <option value="" disabled selected>Valitse...</option>
            <optgroup label="2022">
                <% opens?.forEach(function(open) { %>
                    <% if (open.year === 2022) { %>
                        <option value='<%= open.id|open.name|open.active|open.ended|open.year %>''><%= open.name %> <%= open.year %></option>
                    <% } %>			
                <% }) %>
            </optgroup>
            <optgroup label="2023">
                <% opens?.forEach(function(open) { %>
                    <% if (open.year === 2023) { %>
                        <option value='<%= open.id|open.name|open.active|open.ended|open.year %>''><%= open.name %> <%= open.year %></option>
                    <% } %>			
                <% }) %>
            </optgroup>
            <optgroup label="2024">
                <% opens?.forEach(function(open) { %>
                    <% if (open.year === 2024) { %>
                        <option value='<%= open.id|open.name|open.active|open.ended|open.year %>''><%= open.name %> <%= open.year %></option>
                    <% } %>
                <% }) %>
            </optgroup>
        </select>
        <label for="name">Name:  </label>
        <input type="text" name="name" />
        <label for="year">Year:  </label>
        <input type="text" name="year" />
        <div>
            <table id="chtable">
                <tr>
                    <th>Active</th><th>Ended</th>
                </tr>
                <tr>
                    <td>
                        <input type="checkbox" id="active" name="active" />
                    </td>
                    <td>
                        <input type="checkbox" id="ended" name="ended" />
                    </td>
                </tr>
            </table>
        </div>
        <input type="hidden" name="id" id="id" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="submit" value="Submit"/>
    </form>
    <% } %>
</div>

<script>
    function myFunction() {
        var full = document.getElementById("selest").value;
        
        const words = full.split('|');
        let i = 0;
        while (i < words.length) {
            console.log(i + ":" + words[i]);
            i++;
        }
        document.getElementById("id").value = words[0].trim();
        document.getElementById("name").value = words[1].trim();
        document.getElementById("active").checked = words[2].trim() === '1' ? true : false;
        document.getElementById("ended").checked = words[3].trim() === '1' ? true : false;
        document.getElementById("year").value = words[4].trim();
    }
</script>