<div>
    <select id="selest" onchange="myFunction()">
        <option value="" disabled selected>Valitse...</option>
        <optgroup label="Unreported">
            <% results?.forEach(function(c) { %>
                <% if(c.reported === 0 && c.tournament === null) { %>
                    <option value='<%= c.id %>|<%= c.tournament %>|<%= c.withdraw %>|<%= c.date %>|<%= c.p1id %>|<%= c.p2id %>|<%= c.wins1 %>|<%= c.wins2 %>|<%= c.result %>|<%= c.played %>|<%= c.reported %>'>
                        <%= c.date %>: <%= c.player1 %> - <%= c.player2 %>
                    </option>
                <% } %>
            <% }) %>
        </optgroup>
        <optgroup label="Reported">
            <% results?.forEach(function(c) { %>
                <% if(c.reported === 1 && c.tournament === null) { %>
                    <option value='<%= c.id %>|<%= c.tournament %>|<%= c.withdraw %>|<%= c.date %>|<%= c.p1id %>|<%= c.p2id %>|<%= c.wins1 %>|<%= c.wins2 %>|<%= c.result %>|<%= c.played %>|<%= c.reported %>'>
                        <%= c.date %>: <%= c.player1 %> - <%= c.player2 %>
                    </option>
                <% } %>
            <% }) %>
        </optgroup>
    </select>
    <div>
        <form action="/admin/results" method="post">
            <input type="hidden" name="id" id="id" />
            <label for="opens">Valitse turnaus:  </label>
            <select name="opens" id="opens">
                <option value="" disabled="disabled" selected="selected">Valitse:</option>
                <% opens?.forEach(function(c) { %>
                    <option value=
                    '<%= c.id %>' >
                        <%= c.name %>
                    </option>
                <% }) %>
            </select>
            <div>
                <table>
                    <tr>
                        <th>Luovutus</th><th>Pelattu</th><th>Raportoitu</th>
                    </tr>
                    <tr>
                        <td>
                            <input type="checkbox" id="withdraw" name="withdraw" />
                        </td>
                        <td>
                            <input type="checkbox" id="played" name="played" />
                        </td>
                        <td>
                            <input type="checkbox" id="reported" name="reported" />
                        </td>
                    </tr>
                </table>
            </div>
            <br/>
            <label for="game_date">Pelipäivä: </label>
            <input type="date" id="game_date" name="game_date"/>
            <div class="home">
                <label for="p1">Koti:  </label>
                <select name="p1" id="p1" onchange="setGroup()">
                    <option value="" disabled="disabled" selected="selected">Valitse koti: </option>
                    <% players?.forEach(function(c) { %>
                        <option value='<%= c.id %>' group="<%= c.group %>">
                            <%= c.name %>
                        </option>
                    <% }) %>
                </select>
                <label for="wins1">Pelit (Koti):  </label>
                <input type="number" id="wins1" name="wins1" max="2"/>
            </div>
            <div class="away">
                <label for="p2">Vieras:  </label>
                <select name="p2" id="p2"  onchange="setGroup()">
                    <option value="" disabled="disabled" selected="selected">Valitse koti: </option>
                    <% players?.forEach(function(c) { %>
                        <option value='<%= c.id %>' group="<%= c.group %>">
                            <%= c.name %>
                        </option>
                    <% }) %>
                </select>
                <label for="wins2">Pelit (Vieras):  </label>
                <input type="number" id="wins2" name="wins2" max="2"/>
            </div>
            <label for="result">Lisätiedot: </label>
            <textarea id="result" name="result" rows="5"> </textarea>
            <input type="hidden" name="p1group" id="p1group" />
            <input type="hidden" name="p2group" id="p2group" />

            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
            <input type="submit" value="Submit"/>
        </form>
    </div>
</div>

<script>
    function myFunction() {
        var full = document.getElementById("selest").value;
        const words = full.split('|');
 
        document.getElementById("id").value = words[0].trim();
        document.getElementById("opens").value = words[1].trim();

        document.getElementById("withdraw").checked = words[2].trim() === '1' ? true : false;
        document.getElementById("game_date").value = words[3].trim();

        document.getElementById("p1").value = words[4].trim();
        document.getElementById("p2").value = words[5].trim();

        document.getElementById("wins1").checked = words[6].trim();
        document.getElementById("wins2").checked = words[7].trim();

        document.getElementById("result").innerHTML = words[8].trim();
        document.getElementById("played").checked = words[9].trim() === '1' ? true : false;
        document.getElementById("reported").checked = words[10].trim() === '1' ? true : false;
        setGroup();
    }

    function setGroup() {
        var e = document.getElementById("p1");
        var g1 = e.options[e.selectedIndex].getAttribute("group");

        var e2 = document.getElementById("p2");
        var g2 = e2.options[e2.selectedIndex].getAttribute("group");

        document.getElementById("p1group").value = g1;
        document.getElementById("p2group").value = g2;
    }
</script>