<div class="container">
    <table class="table table-dark table-hover">
        <tr>
            <th>#</th>
            <th>Nimi</th>
            <th>Ryhmä</th>
            <th>Pisteet</th>
        </tr>
        <tbody class="table-group-divider">
        <% players?.forEach(function(c, i) { %>           
                <tr onclick="showHideRow('<%= c.id %>');">
                  <td> <%= i + 1 %>.      </td>
                  <td> <%= c.Nimi %>      </td>
                  <td> <%= c.Ryhma == 0 ? 'Ei sijoitettu' : c.Ryhma %>     </td>
                  <td> <%= c.Pisteet %>    </td>
                </tr>
                <tr class="hidden_row" style="display: none;" id=<%- c.id %>>
                  <td colspan="4">
                    Pelatut ottelut: <%= c.Pelatut_Ottelut %>
                  </td>
                </tr>
            
        <% }) %>
        </tbody>
    </table>
</div>
