<style>
    .hidden_row {
        display: none;
    }
    td {
        white-space: nowrap;
    }
</style>
<div class="container">
    <div id="mySidebar" style="margin-bottom: 10px;">
        <select id="playerSelect" class="form-control" onchange="playerFilter()">
            <option value="">Kaikki pelaajat</option>
            <% if (players) { %>
                <% players.forEach(function(player) { %>
                    <option value="<%= player.id %>" <% if (searchPid === player.id) { %> selected <% } %>><%= player.name %></option>
                <% }); %>
            <% } %>
        </select>
    </div>
    <table id="myTable" class="table table-dark table-bordered table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Match</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% results.items?.forEach(function(c) { %>
            <% if (c.expand?.home && c.expand?.away) { %>
                <tr class="clickable-row" data-row-id="<%= c.id %>">
                    <td><%= c.date %></td>
                    <td><%= c.expand.home?.name %> - <%= c.expand.away?.name %></td>
                    <td><%= c.result %></td>
                </tr>
                <tr class="hidden_row" id="<%= c.id %>">
                    <td colspan="3"><%= c.details.replace(/[\n\r\t]/gm, "") %></td>
                </tr>
            <% } %>
        <% }) %>
        </tbody>
    </table>
    <nav>
        <% if (pages > 0) { %>
            <ul class="pagination">
                <% if (current == 1) { %>
                    <li class="disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/results/1?pid=<%= searchPid || '' %>">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/results/<%= i %>?pid=<%= searchPid || '' %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li><a class="page-link" href="/results/<%= pages %>?pid=<%= searchPid || '' %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </nav>
</div>

<script>
    $(document).ready(function() {
        $('.clickable-row').click(function() {
            const rowId = $(this).data('row-id');
            $(`#${rowId}`).toggle();
        });
    });

    function playerFilter() {
        const selectedPlayerId = document.getElementById("playerSelect").value;
        const url = `/results/1?pid=${selectedPlayerId}`;
        window.location.href = url;
    }
</script>