<style>
    .hidden_row {
        display: none;
    }
    td {
        white-space: nowrap;
    }
</style>
<div class="container">
    <button class="openbtn" onclick="toggle()">☰ Search</button>
    <div id="mySidebar" style="display: none;">
        <input  class="form-control mr-sm-2 filter" type="search" placeholder="Search for name"
                id="nameInput"  placeholder="Etsi nimellä.."  aria-label="Search for date" value="<%= searchName || '' %>">

    </div>
    <table id="myTable" class="table table-dark table-bordered table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Match</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% results.items?.forEach(function(c) { %>
            <% if (c.expand?.home && c.expand?.away) { %>
                <tr class="clickable-row" data-row-id="<%= c.id %>">
                    <td><%= c.date %></td>
                    <td><%= c.expand.home?.name %> - <%= c.expand.away?.name %></td>
                    <td><%= c.result %></td>
                </tr>
                <tr class="hidden_row" id="<%= c.id %>">
                    <td colspan="3"><%= c.details.replace(/[\n\r\t]/gm, "") %></td>
                </tr>
            <% } %>
        <% }) %>
        </tbody>
    </table>
    <nav>
        <% if (pages > 0) { %>
            <ul class="pagination">
                <% if (current == 1) { %>
                    <li class="disabled"><a class="page-link">First</a></li>
                <% } else { %>
                    <li class="page-item"><a class="page-link" href="/results/1?name=<%= searchName || '' %>">First</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                    <li class="disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                    <% if (i == current) { %>
                        <li class="active"><a class="page-link"><%= i %></a></li>
                    <% } else { %>
                        <li class="page-item"><a class="page-link" href="/results/<%= i %>?name=<%= searchName || '' %>"><%= i %></a></li>
                    <% } %>
                    <% if (i == Number(current) + 4 && i < pages) { %>
                        <li class="disabled"><a class="page-link">...</a></li>
                    <% } %>
                <% } %>
                <% if (current == pages) { %>
                    <li class="disabled"><a class="page-link">Last</a></li>
                <% } else { %>
                    <li><a class="page-link" href="/results/<%= pages %>?name=<%= searchName || '' %>">Last</a></li>
                <% } %>
            </ul>
        <% } %>
    </nav>
</div>

<script>
    function toggle() {
        var ele = document.getElementById("mySidebar");
        ele.style.display = ele.style.display == "block" ? "none" : "block";
    }
    $(document).ready(function() {

        $('.clickable-row').click(function() {
            const rowId = $(this).data('row-id');
            $(`#${rowId}`).toggle();
        });

        $('#nameInput').on('input', function() {
            const filter = $(this).val().trim().toUpperCase();
            $('#myTable tbody tr').each(function() {
                const matchName = $(this).find('td:eq(1)').text().trim().toUpperCase();
                $(this).toggle(matchName.includes(filter));
            });
        });
    });
</script>