<div class="container">
    <form id="playerFilterForm" action="/results/1" method="POST">
        <div id="mySidebar" style="margin-bottom: 10px;">
            <select id="playerSelect" name="selectedPid" class="form-control" onchange="document.getElementById('playerFilterForm').submit()">
                <option value="">Kaikki pelaajat</option>
                <% if (players) { %>
                    <% players.forEach(function(player) { %>
                        <option value="<%= player.id %>" <% if (searchPid === player.id) { %> selected <% } %>><%= player.name %></option>
                    <% }); %>
                <% } %>
            </select>
        </div>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="hidden" name="searchPid" value="<%= searchPid || '' %>">
    </form>
    <table id="myTable" class="table table-dark table-hover">
        <thead>
        <tr>
            <th>Date</th>
            <th>Match</th>
            <th>Result</th>
        </tr>
        </thead>
        <tbody>
        <% results.items?.forEach(function(c) { %>
            <% if (c.home && c.away) { %>
                <tr class="clickable-row" data-row-id="<%= c.id %>">
                    <td><%= c.date %></td>
                    <td><%= c.homename %> - <%= c.awayname %></td>
                    <td><%= c.result %></td>
                </tr>
                <tr class="hidden_row" id="<%= c.id %>">
                    <td colspan="3"><%= c.result.replace(/[\n\r\t]/gm, "") %></td>
                </tr>
            <% } %>
        <% }) %>
        </tbody>
    </table>
    <nav>
    <% if (pages > 0) { %>
        <ul class="pagination">
            <% if (current == 1) { %>
                <li class="nav-item disabled"><a class="page-link">First</a></li>
            <% } else { %>
                <li class="nav-item page-item">
                    <form action="/results/1" method="POST">
                        <input type="hidden" name="searchPid" value="<%= searchPid || '' %>">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <button type="submit" class="page-link">First</button>
                    </form>
                </li>
            <% } %>
            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
            <% if (i !== 1) { %>
                <li class="nav-item disabled"><a class="page-link">...</a></li>
            <% } %>
            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                <% if (i == current) { %>
                    <li class="nav-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                    <li class="nav-item page-item">
                        <form action="/results/<%= i %>" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                            <input type="hidden" name="searchPid" value="<%= searchPid || '' %>">
                            <button type="submit" class="page-link"><%= i %></button>
                        </form>
                    </li>
                <% } %>
                <% if (i == Number(current) + 4 && i < pages) { %>
                    <li class="nav-item disabled"><a class="page-link">...</a></li>
                <% } %>
            <% } %>
            <% if (current == pages) { %>
                <li class="nav-item disabled"><a class="page-link">Last</a></li>
            <% } else { %>
                <li class="nav-item page-item">
                    <form action="/results/<%= pages %>" method="POST">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                        <input type="hidden" name="searchPid" value="<%= searchPid || '' %>">
                        <button type="submit" class="page-link">Last</button>
                    </form>
                </li>
            <% } %>
        </ul>
        <% } %>
    </nav>
</div>
