<style>  
  .openbtn {
    cursor: pointer;
    color: white;
    border: none;
      padding: 5px 10px;
  }
  
  .openbtn:hover {
    background-color: #444;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }
  .hidden_row {
            display: none;
        }
</style>
<div id="main" class="table-responsive">
    <button class="openbtn" onclick="toggle()">☰ Search</button>
    <div id="mySidebar" style="display: none;">
      <input
            class="form-control mr-sm-2 filter" type="search" placeholder="Search for date"
            id="yearInput" onkeyup="filterYear()" placeholder="Search for date.."  aria-label="Search for date">

      <input
            class="form-control mr-sm-2 filter" type="search" placeholder="Search for name"
            id="nameInput" onkeyup="filterName()" placeholder="Search for date.."  aria-label="Search for date">

      <%
      formatDate = function(d) {
          return d.substring(8, 10) + "." + d.substring(5, 7) + "." + d.substring(0, 4);
      }
      %>
    </div>
    <table id="myTable" class="table table-dark">
      <tr>
            <th>Date</th>
            <th>Match</th>
            <th>Result</th>
        </tr>
        <% results?.forEach(function(c) { %>
          <% if(c.expand.home && c.expand.home) { %>
            <tbody>
                <tr onclick="showHideRow('<%= c.id %>');">
                    <td> <%- formatDate(c.date) %> </td>
                    <td> <%- c.expand.home?.name %> - <%- c.expand.away?.name %> </td>
                    <td> <%- c.result %> </td>
                </tr>
                <tr class="hidden_row" id=<%- c.id %>>
                  <td colspan="3">
                    <%= c.details %>
                  </td>
                </tr>
            </tbody>
            <% } %>
        <% }) %>
    </table>

<!-- TODO: figure out this shit
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </nav>
-->
</div>
<script>
  function showHideRow(row) {
    $("#" + row).toggle();
  }

  function filterName() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("nameInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[1];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  function filterYear() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("yearInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("myTable");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }       
    }
  }
  function toggle() {

    var ele = document.getElementById("mySidebar");

    if (ele.style.display == "block") {

        ele.style.display = "none";
    }
    else {
        ele.style.display = "block";
    }
  }
</script>