<div id="Tournament">
    <form action="/admin/opens" method="post">
        <select id="selest" name="open" onchange="myFunction()">
            <option value="" disabled selected>Valitse...</option>
            <%  let years = [2022, 2023, 2024, 2025, 2026];
                years.forEach(function(year) { %>
                <optgroup label="<%= year %>">
                    <% opens?.forEach(function(open) { %>
                        <% if (open.year === year) { %>
                            <option value='<%= open.id %>|<%= open.name %>|<%= open.active %>|<%= open.ended %>|<%= open.year %>'>
                                <%= open.name %> <%= open.year %>
                            </option>
                        <% } %>			
                    <% }) %>
                </optgroup>
            <% }) %>
        </select>
        <label for="name">Name:  </label>
        <input type="text" name="name" id="name" />
        <label for="year">Year:  </label>
        <input type="number" name="year" id="year" min="2022" max="2030"/>
        <div style="margin-bottom: 1em;">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="active" name="active" />
                <label class="form-check-label" for="active">Active</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="checkbox" id="ended" name="ended" />
                <label class="form-check-label" for="ended">Ended</label>
            </div>
        </div>
        <input type="hidden" name="id" id="id" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
        <input type="submit" value="Submit"/>
    </form>
</div>

<script>
    function myFunction() {
        var words = document.getElementById("selest").value.split('|');
        document.getElementById("id").value = words[0].trim();
        document.getElementById("name").value = words[1].trim();
        document.getElementById("active").checked = words[2].trim() === 'true' ? true : false;
        document.getElementById("ended").checked = words[3].trim() === 'true' ? true : false;
        document.getElementById("year").value = words[4].trim();
    }
</script>