<%
formatDate = function(d) {
    return d.substring(8, 10) + "." + d.substring(5, 7) + "." + d.substring(0, 4);
}
%>
<div class="container">
    <div class="row">
        <div class="col-md-8">
                <ul class="list-group">
                    <li class="list-group-item"><%= open.name %></li>
                    <% if(openMatches) { %>
                    <% openMatches?.forEach(function (match){ %>
                        <li class="list-group-item">
                            <form role="form" action="/admin/open/match" method="post">
                                <%- formatDate(match.date) %> <br />
                                <div class="row">
                                    <div class="col-md-6"><label>Koti</label>
                                        <%- include('../../partials/playerSelector.ejs',  {match: match, players: players, name: 'home'}) %>
                                        <input class="form-control form-control-sm" type="number" value="<%- match.wins1 != null ? match.wins1 : 0 %>" title="home" name="homeWins" id="homeWins" />
                                    </div>
                                    <div class="col-md-6"><label>Vieras</label>
                                        <%- include('../../partials/playerSelector.ejs',  {match: match, players: players, name: 'away'}) %>
                                        <input class="form-control form-control-sm" type="number" value="<%- match.wins2 != null ? match.wins2 : 0 %>" title="away" name="awayWins" id="awayWins" />
                                    </div>
                                </div>

                                <label for="result">Lisätiedot</label><input class="form-control form-control-sm" type="text" value="<%- match.result %>" name="result" id="result" />
                                <input type="hidden" name="id" value="<%- match.id %>" id="id" />
                                <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
                                <button type="submit" class="btn btn-success btn-lg btn-block">Tallenna</button>
                                <button type="button" class="btn btn-danger btn-lg btn-block" onclick="history.back()">Peruuta</button>
                            </form>
                        </li>
                    <% }) %>
                    <% } else { %>
                        <h2>Otteluita ei löytynyt</h2>
                    <% } %>
                </ul>
        </div>
    </div>
</div>
